header{
	background-color: #FA8072;
	width: 100%;
	height: 150px;
}

body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

footer {
	background-color: #FFA07A;
	width: 100%;
	height: 150px;
	margin-top: auto;
}

table {
	margin-left: auto;
	margin-right: auto;
}
img {
	height: 100px;
	width: auto;
}

td {
	width: 100px;
	height: 100px;
	text-align: center;
}

#pen {
	background-color: #FFCCFF;
}

#book {
	background-color: #FF99FF
}

#plant {
	background-color: #FFCCCC;
}

#banana {
	background-color: #FF99CC;
}

#pencil {
	background-color: #FFCC99;
}

#bear {
	background-color: #FF9999;
}

#paper {
	background-color: #FFCC66;
}

#bell {
	background-color: #FF9966;
}
